* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    text-align: justify;
}

button {
    font-family: 'Play', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-align: justify;
}

.extra button {
    height: 60px;
    width: 77px;
    background-color: #FFFFFF;
    border: none;

    display: inline-block;
    vertical-align: middle;
    text-align: center;

    transition-duration: 0.25s;
}

.menu button {
    height: 80px;
    width: 260px;
    background-color: #FFFFFF;
    border: none;

    display: inline-block;
    vertical-align: middle;
    text-align: center;

    transition-duration: 0.25s;
}

button:hover {
    background-color: #99CCEE; /* Green */
    color: white;
}

.wrapper {
    width: 1920px;
    background: #FFFFFF;
}

.header_panel {
    height: 320px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_panel .extra {
    font-weight: bold;

    height: 60px;
    margin-left: 1240px;
    margin-right: 240px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    
    line-height: 60px;
    text-align: center;
}

.extra .ru_button {
    color: #3377AA;
}

.extra .en_button {
    color: rgba(0, 0, 0, 0.25);
}

.header_panel .info {
    height: 150px;
    margin-top: 10px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: left;

    line-height: 150px;
}

.info .describe {
    padding-left: 20px;
    color: #3377AA;
}

.info .phone {
    font-weight: bold;
    color: #3377AA;
    grid-column: -1;
    text-align: right;
}

.header_panel .menu {
    font-weight: bold;

    height: 80px;

    margin-top: 10px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;

    line-height: 80px;
    text-align: center;
}

.menu .contacts {
    color: #3377AA;
}

.bottom {
    font-size: 24px;
    background-color: #99CCEE;
}

.bottom .bottom_info {
    height: 80px;

    margin-left: 160px;
    margin-right: 160px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    justify-items: center;

    line-height: 80px;
    text-align: center;
}

.bottom .bottom_info .email {
    text-decoration: underline;
}

h1 {
    font-size: 50px;
    font-weight: bold;

    padding-top: 80px;
    padding-bottom: 40px;

    display: flex;
    justify-content: space-evenly;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

.relations {
    background-image: url(../images/contacts/icon-call.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.relations .call_button {
    padding-top: 40px;
    padding-bottom: 80px;

    display: flex;
    justify-content: space-evenly;
}

.relations button {
    height: 80px;
    width: 260px;
    background-color: #99CCEE;
    border: none;

    display: inline-block;
    vertical-align: middle;
    text-align: center;

    border-radius: 100px;
    transition-duration: 0.25s;
}

.relations button:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15), 0 5px 5px 0 rgba(0,0,0,0.15);
  }

.relations_blocks {
    margin-left: 580px;
    margin-right: 580px;

    display: grid;
    justify-items: stretch;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 16px;
}

.block_1 {
    grid-template-rows: repeat(1, 1fr);
    width: 344px;
}

.path {
    background-color: rgba(153, 204, 238, 0.15);
}

.path_blocks {
    margin-left: 240px;
    margin-right: 240px;

    display: grid;
    justify-items: stretch;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
}

.head {
    display: flex;
    justify-content: space-evenly;
}

.pic1 {
    padding-top: 40px;
    padding-bottom: 80px;
    
    display: flex;
    justify-content: space-evenly;
}

.social_medias {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pic2 {
    padding-top: 16px;
    display: flex;
    justify-content: space-evenly;
}