* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    text-align: justify;
}

button {
    font-family: 'Play', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-align: justify;
}

.extra button {
    height: 60px;
    width: 77px;
    background-color: #FFFFFF;
    border: none;

    display: inline-block;
    vertical-align: middle;
    text-align: center;

    transition-duration: 0.25s;
}

.menu button {
    height: 80px;
    width: 260px;
    background-color: #FFFFFF;
    border: none;

    display: inline-block;
    vertical-align: middle;
    text-align: center;

    transition-duration: 0.25s;
}

button:hover {
    background-color: #99CCEE; /* Green */
    color: white;
}

.wrapper {
    width: 1920px;
    background: #FFFFFF;
}

.header_panel {
    height: 320px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_panel .extra {
    font-weight: bold;

    height: 60px;
    margin-left: 1240px;
    margin-right: 240px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    
    line-height: 60px;
    text-align: center;
}

.extra .ru_button {
    color: #3377AA;
}

.extra .en_button {
    color: rgba(0, 0, 0, 0.25);
}

.header_panel .info {
    height: 150px;
    margin-top: 10px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: left;

    line-height: 150px;
}

.info .describe {
    padding-left: 20px;
    color: #3377AA;
}

.info .phone {
    font-weight: bold;
    color: #3377AA;
    grid-column: -1;
    text-align: right;
}

.header_panel .menu {
    font-weight: bold;

    height: 80px;

    margin-top: 10px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;

    line-height: 80px;
    text-align: center;
}

.menu .news {
    color: #3377AA;
}

.bottom {
    font-size: 24px;
    background-color: #99CCEE;
}

.bottom .bottom_info {
    height: 80px;

    margin-left: 160px;
    margin-right: 160px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    justify-items: center;

    line-height: 80px;
    text-align: center;
}

.bottom .bottom_info .email {
    text-decoration: underline;
}

.news_panel {
    padding-top: 80px;

    margin-left: 240px;
    margin-right: 240px;
    
    display: grid;
    justify-items: stretch;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 16px;
}

.news_element {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 688px;
}

.news_text {
    font-size: 20px;
    
    width: 340px;
    height: 512px;
    padding-left: 8px;
    
    text-align: left;
}

.news_text .head {
    font-size: 24px;
    font-weight: bold;
    
    padding-bottom: 20px;
}

.news_text .date {
    font-size: 20px;

    padding-bottom: 20px;
}

.news_text .text {
    font-size: 20px;
    
    padding-bottom: 20px;
}

.news_element .ref {
    font-size: 20px;
    padding-top: 40px;
    text-align: right;
}

.pages {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    justify-content: center;
}