* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    text-align: justify;
}

.wrapper {
    background: #FFFFFF;
    margin: 0 auto;
}

.header {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.extra {
    display: flex;
    height: 67px;
    margin-left: 1240px;
    margin-right: 280px;
    line-height: 67px;
    justify-content: space-evenly;
}

.info {
    display: flex;
    height: 150px;
    margin-left: 280px;
    margin-right: 280px;
    line-height: 150px;
    justify-content: space-evenly;
}

.describe {
    color: #3377AA;
}

.menu {
    display: flex;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 240px;
    margin-right: 240px;
    text-align: center;
    justify-content: space-evenly;
}

.bottom {
    font-size: 24px;

    display: flex;

    height: 80px;
    line-height: 80px;
    justify-content: space-evenly;

    background-color: #99CCEE;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.block {
    display: flex;
}

.date {
    font-size: 20px;
}

.head {
    font-size: 24px;
    font-weight: bold;
}

.text {
    font-size: 20px;
}

a {
    font-size: 20px;
}